# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
.env

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Project runtime data
data/raw/*
data/cache/*
!data/raw/.gitkeep
!data/cache/.gitkeep

# GeoIP databases
data/geoip/*.mmdb

# Outputs (track only folder skeleton by default)
outputs/**
!outputs/
!outputs/.gitkeep
!outputs/by_country/
!outputs/by_country/.gitkeep
!outputs/by_protocol/
!outputs/by_protocol/.gitkeep
!outputs/by_anonymity/
!outputs/by_anonymity/.gitkeep
!outputs/metadata/
!outputs/metadata/.gitkeep

# OS
.DS_Store
Thumbs.db
